<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409017979981-hjnt9ir7pg4mpf6dfeq3doodb6uou090.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409017979981-hjnt9ir7pg4mpf6dfeq3doodb6uou090</string>
	<key>API_KEY</key>
	<string>AIzaSyDKHMbHtO5vbvIyJL0GI2Y1nqOqUTwl1CA</string>
	<key>GCM_SENDER_ID</key>
	<string>409017979981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soldoza.soldozaApp001</string>
	<key>PROJECT_ID</key>
	<string>soldoza-api</string>
	<key>STORAGE_BUCKET</key>
	<string>soldoza-api.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409017979981:ios:05018132e390f96394b804</string>
</dict>
</plist>